<div class="card indigo white-text">
  <div class="card-content">
    <p class="indigo-text text-lighten-3">{{question.author}}</p>
    <span class="card-title">{{question.content}}</span>
  </div>
</div>